{% ckan_extends %}

{% block organizations_search_form %}
  {% set visit_sort_enabled = h.organization_visit_sort_enabled() %}
  {% set visit_sort_default_enabled = h.organization_visit_sort_default_enabled() %}
  {% set default_sort = sort_by_selected if sort_by_selected else '' %}
  {% set default_sort_label = _('Relevance') if q else (_('Most Visited') if visit_sort_default_enabled else _('Most Datasets')) %}
  {% set sorting = [] %}
  {% if visit_sort_enabled %}
    {% if q or not visit_sort_default_enabled %}
      {% set sorting = sorting + [(_('Most Visited'), 'visits desc')] %}
    {% endif %}
    {% set sorting = sorting + [(_('Least Visited'), 'visits asc')] %}
  {% endif %}
  {% if q or visit_sort_default_enabled %}
    {% set sorting = sorting + [(_('Most Datasets'), 'dataset_count desc')] %}
  {% endif %}
  {% set sorting = sorting + [
    (_('Fewest Datasets'), 'dataset_count asc'),
    (_('Name Ascending'), 'title asc'),
    (_('Name Descending'), 'title desc')
  ] %}
  {% snippet 'data_gov_gr/organization/snippets/search_form.html',
    form_id='organization-search-form',
    type=group_type,
    query=q,
    sorting_selected=default_sort,
    default_sort_label=default_sort_label,
    count=page.item_count,
    placeholder=h.humanize_entity_type('organization', group_type, 'search placeholder') or _('Search organizations...'),
    show_empty=request.args,
    no_bottom_border=true if page.items,
    sorting=sorting %}
{% endblock %}

{% block organizations_list %}
  {% if page.items or request.args %}
    {% if page.items %}
      {% set ns = namespace(org_ids=[]) %}
      {% for organization in page.items %}
        {% if organization.id %}
          {% set ns.org_ids = ns.org_ids + [organization.id] %}
        {% endif %}
      {% endfor %}
      {% set organization_index_stats = h.organization_index_stats(ns.org_ids) %}
      <div class="organizations-index">
        {% snippet "data_gov_gr/organization/snippets/organization_list.html",
          organizations=page.items,
          organization_index_stats=organization_index_stats %}
      </div>
    {% endif %}
  {% else %}
    <p class="empty">
      {{ _('There are currently no organizations for this site') }}.
      {% if h.check_access('organization_create') %}
        {% link_for _('How about creating one?'), named_route=group_type+'.new' %}.
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
